	<footer>
		<div class="section-2" id="contact">
			<div class="section-heading-2">
				<h2>Contact</h2>
			</div>
			<div class="container">
				<p style="font-size: 20px;"><i class="fa fa-envelope" aria-hidden="true"></i> - <a href="mailto:cam@cgallucci.net">cgallucci99@gmail.com</a></p>
				<p style="font-size: 20px;"><a aria-label="LinkedIn" href="https://www.linkedin.com/in/cam-gallucci-4421b4170"><i class="fab fa-linkedin"></i></a> | <a aria-label="Handshake" href="https://miamioh.joinhandshake.com/users/5964175"><i class="far fa-handshake"></i></a> | <a aria-label="Instagram" href="https://www.instagram.com/cgallucci99/"><i class="fab fa-instagram"></i></a> | <a aria-label="Twitter" href="https://twitter.com/CamGallucci"><i class="fab fa-twitter"></i></a> | <a aria-label="Facebook" href="https://www.facebook.com/camtheosum"><i class="fab fa-facebook-square"></i></a> | <a aria-label="GitHub" href="https://github.com/cgallucci99"><i class="fab fa-github"></i></a></p>
				<p style="font-size: 20px;">Website made by Cam Gallucci ©2020</p>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>