	<footer>
		<div class="section-2" id="contact">
			<div class="section-heading-2">
				<h1>Contact</h1>
			</div>
			<div class="container">
				<p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:cam@cgallucci.net"> cam@cgallucci.net</a></p>
				<p><a href="https://www.linkedin.com/in/cam-gallucci-4421b4170"><i class="fab fa-linkedin"></i></a> | <a href="https://miamioh.joinhandshake.com/users/5964175"><i class="far fa-handshake"></i></a> | <a href="https://www.instagram.com/cgallucci99/"><i class="fab fa-instagram"></i></a> | <a href="https://twitter.com/CamGallucci"><i class="fab fa-twitter"></i></a> | <a href="https://www.facebook.com/camtheosum"><i class="fab fa-facebook-square"></i></a> | <a href="https://github.com/cgallucci99"><i class="fab fa-github"></i></a></p>
				<p>Website made by Cam Gallucci ©2019</p>
			</div>
		</div>
	</footer>
	<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>