<% include partials/header %>
<body style="display: none;" onload="fadeIn()" data-spy="scroll" data-target="#scroll-spy-target">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Cam Gallucci</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Computer Science <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/">Home Page</a></li>
							<li><a href="/music">Music</a></li>
						</ul>
					</li>
				</ul>
				<div id="scroll-spy-target">
					<ul class="nav navbar-nav">
						<li><a class="page-scroll" href="#skills">Skills</a></li>
						<li><a class="page-scroll" href="#experience">Experience</a></li>
						<li><a class="page-scroll" href="#coursework">Coursework</a></li>
						<li><a class="page-scroll" href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="section-1" id="skills">
		<div class="section-heading-1">
			<h1>Skills</h1>
		</div>
		<div class="container">
			<div class="row">
				<!-- <div class="col-md-3"></div> -->
				<!-- <div class="col-md-12"> -->
					<div class="col-md-3 col-xs-6 thumbnail">
						<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png" title="Java">
					</div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png" title="HTML"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/CSS.3.svg/730px-CSS.3.svg.png" title="CSS"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://pluralsight.imgix.net/paths/path-icons/javascript-36f5949a45.png" title="JavaScript"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://pkp.sfu.ca/wp-content/uploads/2016/09/bootstrap-logo.png" title="Bootstrap 3"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/1200px-Python.svg.png" title="Python 3"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/256/square_480/nodejslogo.png" title="Node.js"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Vimlogo.svg/2000px-Vimlogo.svg.png" title="Vim"></div>
					<!-- <ul class="list-group">
						<li class="list-group-item">Java</li>
						<li class="list-group-item">Python</li>
						<li class="list-group-item">HTML</li>
						<li class="list-group-item">CSS</li>
						<li class="list-group-item">JavaScript</li>
						<li class="list-group-item">Node.js</li>
						<li class="list-group-item">Vim</li>
						<li class="list-group-item">Teamwork</li>
						<li class="list-group-item">Leadership</li>
						<li class="list-group-item">Organization</li>
					</ul> -->
				<!-- </div> -->
				<!-- <div class="col-md-3"></div> -->
			</div>
		</div>
	</div>
	<div class="section-2" id="experience">
		<div class="section-heading-2">
			<h1>Experience</h1>
		</div>
		<div class="container">
			<p>Some experience includes making this website, and the website for the restaurant Chef-o-Nette.</p>
		</div>
	</div>
	<div class="section-1" id="coursework">
		<div class="section-heading-1">
			<h1>Coursework</h1>
		</div>
		<div class="container">
			<ul class="list-group">
				<li class="list-group-item">Calculus III</li>
				<li class="list-group-item">Contemporary Physics I (Quantum Mechanics and Relativity)</li>
				<li class="list-group-item">Object Oriented Programming</li>
				<li class="list-group-item">Systems I (in progress)</li>
				<li class="list-group-item">Data Abstractions & Structures (in progress)</li>
				<li class="list-group-item">Linear Algebra (in progress)</li>
				<li class="list-group-item">Web Programming Bootcamp</li>
			</ul>
		</div>
	</div>
<% include partials/footer %>