<% include partials/header %>
<body style="display: none;" onload="fadeIn()" data-spy="scroll" data-target="#scroll-spy-target">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Cam Gallucci</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Computer Science <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="/">Home Page</a></li>
							<li><a href="/music">Music</a></li>
						</ul>
					</li>
				</ul>
				<div id="scroll-spy-target">
					<ul class="nav navbar-nav">
						<li><a class="page-scroll" href="#skills">Skills</a></li>
						<li><a class="page-scroll" href="#experience">Experience</a></li>
						<li><a class="page-scroll" href="#coursework">Coursework</a></li>
						<li><a class="page-scroll" href="#contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<div class="section-1" id="skills">
		<div class="section-heading-1">
			<h1>Skills</h1>
		</div>
		<div class="container">
			<div class="row">
				<!-- <div class="col-md-3"></div> -->
				<!-- <div class="col-md-12"> -->
					<div class="col-md-3 col-xs-6 thumbnail">
						<img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png" title="Java">
					</div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png" title="HTML"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/CSS.3.svg/730px-CSS.3.svg.png" title="CSS"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://pluralsight.imgix.net/paths/path-icons/javascript-36f5949a45.png" title="JavaScript"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://pkp.sfu.ca/wp-content/uploads/2016/09/bootstrap-logo.png" title="Bootstrap 3"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/1200px-Python.svg.png" title="Python 3"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/256/square_480/nodejslogo.png" title="Node.js"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png" title="Git"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/800px-ISO_C%2B%2B_Logo.svg.png" title="C++"></div>
					<div class="col-md-3 col-xs-6 thumbnail"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/800px-Tux.svg.png" title="Linux/UNIX"></div>
			</div>
		</div>
	</div>
	<div class="section-2" id="experience">
		<div class="section-heading-2">
			<h1>Experience</h1>
		</div>
		<div class="container" >
			<div class="row">
				<div class="col-md-6">
					<img class="exp-pics" src="./files/workspace.png" alt="Workspace">
				</div>
				<div class="col-md-6">
					<p>I made this website using Node.js with Express framework. View the source code here: <a href="https://github.com/cgallucci99/personal-website">github.com/cgallucci99/personal-website</a></p>
				</div>
			</div>
			<div class="row" style="margin-top: 25px;">
				<div class="col-md-6">
					<p>I also worked on the front end of <a href="https://chefonette.com">chefonette.com</a></p>
				</div>
				<div class="col-md-6">
					<img class="exp-pics" src="./files/chefo.png" alt="Workspace">
				</div>
			</div>
		</div>
	</div>
	<div class="section-1" id="coursework">
		<div class="section-heading-1">
			<h1>Coursework</h1>
		</div>
		<div class="container">
			<ul class="list-group">
				<li class="list-group-item">Object Oriented Programming</li>
				<li class="list-group-item">Data Abstractions & Structures (in progress)</li>
				<li class="list-group-item">Systems I (in progress)</li>
				<li class="list-group-item">Linear Algebra (in progress)</li>
				<li class="list-group-item">Web Programming Bootcamp</li>
				<li class="list-group-item">Calculus III</li>
				<li class="list-group-item">Contemporary Physics I (Quantum Mechanics and Relativity)</li>
			</ul>
		</div>
	</div>
<% include partials/footer %>