<% include partials/header %>
	<title>Cam Gallucci: Home Page</title>
	<meta name="description" content="A website about Cam Gallucci">
	<meta name="author" content="Cam Gallucci">
	<meta name="keywords" content="Cam Gallucci, Music, Computer Science">
</head>
<body  data-target="#scroll-spy-target" data-offset="0">
	<header class="header" id="header">
		<div class="container-fluid" style="background-color: #9999;">
			<div style="padding-top: 20px;" >
				<h1>Cam Gallucci</h1>
				<h4>Programming &amp; Music</h4>
			</div>
		</div>
	</header>
	<div id="nav">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="#header">Cam Gallucci</a>
				</div>
				
				<!-- end nav header -->
				<div class="collapse navbar-collapse" id="navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home Page <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="/music">Music</a></li>
							</ul>
						</li>
					</ul>
					<div id="scroll-spy-target">
						<ul class="nav navbar-nav">
							<li><a class="page-scroll" href="#about">About</a></li>
							<li><a class="page-scroll" href="#skills">Skills</a></li>
							<li><a class="page-scroll" href="#experience">Experience</a></li>
							<li><a class="page-scroll" href="#coursework">Coursework</a></li>
							<li><a class="page-scroll" href="#music">Music</a></li>
							<li><a class="page-scroll" href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>
				<!-- end collapse navbar -->
			</div>
		</nav>
	</div>
	<!-- end navbar -->
	<div class="section-1" id="about">
		<div class="section-heading-1">
			<h2>About Me</h2>
		</div>	
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img src="./files/Headshot.jpg" alt="Headshot of Cam Gallucci" style="border-radius: 50%; float:right;">
				</div>
				<div class="col-md-6" style="line-height: 30px;">
					<p>I am a student at Miami University pursuing a BS in Computer Science and a minor in Physics. I am also the secretary for Miami University's Men's Glee Club, where I sing bass. I am also the music director for Open Fifth, an all male a capella group on campus, where I also sing bass, beatbox, and arrange.
						To see more about me, download my resume and continue reading below.
						<br><a class="btn btn-primary" href="/files/Resume.pdf">PDF of Resume</a>
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-2 col-xs-4">
					<a href="https://www.miamioh.edu/" class="thumbnail">
						<img src="./files/miami-logo.jpg" alt="Miami University">
					</a>
				</div>
				<div class="col-md-2 col-xs-4">
					<a href="http://www.mugleeclub.org/" class="thumbnail">
						<img src="./files/glee-club-logo.png" alt="Miami Men's Glee Club">
					</a>
				</div>
				<div class="col-md-2 col-xs-4">
					<a href="https://www.muopenfifth.com/" class="thumbnail">
						<img src="./files/open-fifth-logo.png" alt="Open Fifth">
					</a>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
	<!-- end about section -->
	<div class="section-2" id="skills">
		<div class="section-heading-2">
			<h2>Skills</h2>
		</div>
		<div class="container">
			<div class="row">
				<!-- <div class="col-md-3"></div> -->
				<!-- <div class="col-md-12"> -->
					<div class="col-md-3 col-xs-6 thumbnail">
						<img alt="Java" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png" title="Java">
					</div>
					<div class="col-md-3 col-xs-6 thumbnail">
						<img alt="C++" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/800px-ISO_C%2B%2B_Logo.svg.png" title="C++">
					</div>
					<div class="col-md-3 col-xs-6 thumbnail">
						<img alt="Linux/UNIX" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/800px-Tux.svg.png" title="Linux/UNIX">
					</div>
					<div class="col-md-3 col-xs-6 thumbnail">
						<img alt="HTML" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png" title="HTML">
					</div>
					<div class="col-md-3 col-xs-6 thumbnail">
						<img alt="CSS" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/CSS.3.svg/730px-CSS.3.svg.png" title="CSS">
					</div>
					<div class="col-md-3 col-xs-6 thumbnail">
						<img alt="JavScript" src="https://pluralsight.imgix.net/paths/path-icons/javascript-36f5949a45.png" title="JavaScript">
					</div>
					<div class="col-md-3 col-xs-6 thumbnail">
						<img alt="Bootstrap 3" src="https://pkp.sfu.ca/wp-content/uploads/2016/09/bootstrap-logo.png" title="Bootstrap 3">
					</div>
					<div class="col-md-3 col-xs-6 thumbnail">
						<img alt="Python 3" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/1200px-Python.svg.png" title="Python 3">
					</div>
					<div class="col-md-3 col-xs-6 thumbnail">
						<img alt="Node.js" src="https://d2eip9sf3oo6c2.cloudfront.net/tags/images/000/000/256/square_480/nodejslogo.png" title="Node.js">
					</div>
					<div class="col-md-3 col-xs-6 thumbnail">
						<img alt="Git" src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png" title="Git">
					</div>
					<div class="col-md-3 col-xs-6 thumbnail">
						<img alt="Git" src="https://d1.awsstatic.com/logos/partners/microsoft/logo-SQLServer-vert.c0cb0df0cd1d6c8469d792abb5929239da36611a.png" title="SQL Server">
					</div>
					<div class="col-md-3 col-xs-6 thumbnail">
						<img alt="Git" src="https://miro.medium.com/max/3200/1*DiNIG4Bfpm65_wwXf_JwMA.png" title="MongDB">
					</div>
			</div>
		</div>
	</div>
	<div class="section-1" id="experience">
		<div class="section-heading-1">
			<h2>Experience</h2>
		</div>
		<div class="container" >
			<div class="row">
				<div class="col-md-6" style="margin-bottom: 10px;">
					<img class="exp-pics" src="./files/workspace.png" alt="Personal Website Workspace">
				</div>
				<div class="col-md-6">
					<p>I made this website using Node.js with Express framework. View the source code here: <a href="https://github.com/cgallucci99/personal-website">github.com/cgallucci99/personal-website</a></p>
				</div>
			</div>
			<hr>
			<div class="row" style="margin-top: 25px;">
				<div class="col-md-6" style="margin-bottom: 10px;">
					<img class="exp-pics" src="./files/chefo.png" alt="Chef-o-Nette website">
				</div>
				<div class="col-md-6">
					<p>I also worked on the front end of <a href="https://chefonette.com">chefonette.com</a></p>
				</div>
			</div>
			<hr>
			<div class="row" style="margin-top: 25px;">
				<div class="col-md-6" style="margin-bottom: 10px;">
					<img class="exp-pics" src="./files/myaamia-trees.png" alt="Myaamia Trees website">
				</div>
				<div class="col-md-6">
					<p>For my "Intro to the Miami Tribe" class, I was tasked with making a site to showcase trees important to the Miami tribe on Miami University's campus. I studied Miami's styles on prexisting web pages and made it look like it fit the Miami ecosystem. I used MongoDB as the database for the trees. It can be found at <br><a href="http://myaamia-trees.cgallucci.net">myaamia-trees.cgallucci.net</a> | <a href="https://github.com/cgallucci99/myaamia-trees">Github</a></p>
				</div>
			</div>
			<hr>
			<div class="row" style="margin-top: 25px;">
				<div class="col-md-6" style="margin-bottom: 10px;">
					<img class="exp-pics" src="./files/BookBot.png" alt="BookBot website">
				</div>
				<div class="col-md-6">
					<p>For my Intro to Software Engineering class, we were required to make a catalogue software. My group chose to do a book catalogue, where users can find books they like and add them to their personal library, and comment and rate books. In this project, I used Node.js, MySQL, Bootstrap 4, and many other technologies. It can be found at <br><a href="https://book-bot-readmeinc.herokuapp.com/home/isbn?page=0">book-bot-readmeinc.herokuapp.com</a> | <a href="https://github.com/cgallucci99/CSE201A1Project">Github</a></p>
				</div>
			</div>
		</div>
	</div>
	<div class="section-2" id="coursework">
		<div class="section-heading-2">
			<h2>Coursework</h2>
		</div>
		<div class="container">
			<ul class="list-group">
				<li class="list-group-item">Object Oriented Programming <span class="label label-default" style="margin-left: 6px;">(Fall 2018)</span></li>
				<li class="list-group-item">Data Abstractions & Structures <span class="label label-default" style="margin-left: 6px;">(Fall 2018)</span></li>
				<li class="list-group-item">Systems I & II <span class="label label-default" style="margin-left: 6px;">(Spring & Fall 2019)</span></li>
				<li class="list-group-item">Algorithms I <span class="label label-default" style="margin-left: 6px;">(Fall 2019)</span></li>
				<li class="list-group-item">Database Systems <span class="label label-default" style="margin-left: 6px;">(Fall 2019)</span></li>
				<li class="list-group-item">Foundation of Graphics <span class="label label-default" style="margin-left: 6px;">(Spring 2020)</span></li>
				<li class="list-group-item">Web Application Programming <span class="label label-default" style="margin-left: 6px;">(Spring 2020)</span></li>
				<li class="list-group-item">Comparative Programming Languages <span class="label label-default" style="margin-left: 6px;">(Spring 2020)</span></li>
				<li class="list-group-item">Web Programming Bootcamp <span class="label label-default" style="margin-left: 6px;">(Summer 2018)</span></li>
			</ul>
		</div>
	</div>
	<!-- end resume section -->
	<div class="section-1" id="music">
		<div class="section-heading-1">
			<h2>Music</h2>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img alt="Music Note" src="https://img.icons8.com/metro/1600/music.png" title="Music" style="float:right; height:70px;">
				</div>
				<div class="col-md-6">
					<p>I sing, beatbox, play saxophone, piano, guitar.</p>
					<p>I arrange and write music.</p>
					<p>Check out some of my songs and arrangments here: </p>
					<a href="/music" class="btn btn-primary">Music Page</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end Social Medai section -->
<% include partials/footer %>