body{
	/*padding-top: 50px;*/
}
#nav{
	position: sticky;
	top: 0;
}
.section{
	padding-top: 50px;
}
.header {
	text-align: center;
	font-family: 'IBM Plex Mono', monospace;
	font-style: italic;
	height: 730px;
	background: center / cover no-repeat url(https://images.unsplash.com/photo-1529236183275-4fdcf2bc987e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b1799c4b65f757386e977ba79075ee8c&auto=format&fit=crop&w=1047&q=80);
	/*Photo by Sergi Kabrera on Unsplash*/
}
.header>.container-fluid{
	height: 100%;
	padding: 0;
}
.jumbotron {
	margin: none;
	height: 100%;
	width: 100%;
	background-color: #eee9;
	padding-top: 200px;
}
.jumbotron h1{
	font-size: 45px;
}

@media screen and (min-width: 768px){
	.jumbotron h1{
	    font-size: 90px;
		line-height: 150px;
	}
	.jumbotron h4{
		font-size: 30px;
		line-height: 50px;
	}
}
